<mat-tab-group class="col-12">
    <mat-tab >
        <ng-template mat-tab-label >
            <img src="/assets/pythonicon.ico"> <span class="label">Python</span>
        </ng-template>
        <div class="tab_content">
            <h4 > <span class="tab_content_header">Python Experience:</span></h4>
        </div>


    </mat-tab>
    <mat-tab >
        <ng-template   mat-tab-label>
            <img src="/assets/djangoicon.ico"> <span class="label">Django</span>
        </ng-template>
        <div class="tab_content">
            <h4 > <span class="tab_content_header"> Django Experience:</span></h4>
            <ul list-style-type='circle'>
                
                <li>Specifing a custom middleware classes.</li>
                <li>Specifing a custom authentication classes.</li>
                <li>Specifing a custom exception classes.</li>
                <li>Specifing a logger class.</li>
                <li>Specifing Database routers
                    <ol type="I">
                        <li>Suggest the database that should be used for read operations</li>
                        <li>Suggest the database that should be used for writes operations</li>
                        <li>provide database High avilabilty</li>
                        <li>provide database load balancing</li>
                    </ol>
                </li>

                <li>Session management.</li>
                <li>Cookies management.</li>
                <li>Caching control.</li>
                <li>Rest Framework API.</li>
                <li>Api token authentication.</li>
        



                        <li>Specifing a custom middleware classes.</li>
                <li>Specifing a custom authentication classes.</li>
                <li>Specifing a custom exception classes.</li>
                <li>Specifing a logger class.</li>
                <li>Specifing Database routers
                    <ol type="I">
                        <li>Suggest the database that should be used for read operations</li>
                        <li>Suggest the database that should be used for writes operations</li>
                        <li>provide database High avilabilty</li>
                        <li>provide database load balancing</li>
                    </ol>
                </li>

                <li>Session management.</li>
                <li>Cookies management.</li>
                <li>Caching control.</li>
                <li>Rest Framework API.</li>
                <li>Api token authentication.</li>


                                <li>Specifing a custom middleware classes.</li>
                <li>Specifing a custom authentication classes.</li>
                <li>Specifing a custom exception classes.</li>
                <li>Specifing a logger class.</li>
                <li>Specifing Database routers
                    <ol type="I">
                        <li>Suggest the database that should be used for read operations</li>
                        <li>Suggest the database that should be used for writes operations</li>
                        <li>provide database High avilabilty</li>
                        <li>provide database load balancing</li>
                    </ol>
                </li>

                <li>Session management.</li>
                <li>Cookies management.</li>
                <li>Caching control.</li>
                <li>Rest Framework API.</li>
                <li>Api token authentication.</li>  
                
            </ul>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <img src="/assets/favicon.ico"> <span class="label">Angular 6</span>
        </ng-template>
        <div class="tab_content">
            <h4 ><span class="tab_content_header"> Angular 6 Experience:</span></h4>
        </div>
    </mat-tab>
    <!--<mat-tab>
        <ng-template mat-tab-label>
            <img src="/assets/favicon.ico">Type Script
        </ng-template>
        <div class="tab_content">
            <h4 class="tab_content_header"> Type Script Experience:</h4>
        </div>
    </mat-tab>-->
    <mat-tab>
        <ng-template mat-tab-label>
            <img src="/assets/elasticicon.ico"> <span class="label">ELK</span>
        </ng-template>

        <div class="tab_content">
            <h4 > <span class="tab_content_header">ELK Experience:</span></h4>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <img src="/assets/ioticon.ico"> <span class="label">IoT</span>
        </ng-template>

        <div class="tab_content">
            <h4 > <span class="tab_content_header">IoT Experience:</span></h4>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <img src="/assets/cassandraicon.ico"> <span class="label">Cassandra</span>
        </ng-template>

        <div class="tab_content">
            <h4 > <span class="tab_content_header">Cassandra Experience:</span></h4>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <img src="/assets/postgresicon.ico"> <span class="label">PostgreSQL</span>
        </ng-template>

        <div class="tab_content">
            <h4 > <span class="tab_content_header">PostgreSQL Experience:</span></h4>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <img src="/assets/kafkaicon.ico"> <span class="label">Kafka</span>
        </ng-template>

        <div class="tab_content">
            <h4 > <span class="tab_content_header">Kafka Experience:</span></h4>
        </div>
    </mat-tab>

</mat-tab-group>