<h2 class='col-1'>
  <span class='header'>About</span> 
</h2>
<div>
	<p >
		I’m a passionate and pragmatic Telecommunication/Software engineer with 5 years of professional experience, specializing in full-stack development using Django web framework on the backend and Angular 6 on the frontend, Also I am an IOT <span class='colored'>(Internet Of Things)</span> developer using Thingworx platform with different type of communication protocols like MQTT, SIA, Contact ID, etc...
	</p>
	<p >
		Strong in object-oriented analysis and design and experienced with a wide range of technologies and  frameworks <span class='colored'>(see Stack)</span>.
	</p>
	<p>
		Advanced Database Developer able to build and maintain complex support systems and website 	databases for customer use. 
		Also, being an artist in nature, I have a good sense of design,
		colors, usability and can build beautiful and modern interfaces that people love.
	</p>
	<p >
		I can assist in all stages of software development lifecycle and deliver working software with clean 		architecture, clean code, and automated tests.
	</p>
	<p >	
		I also have several years of experience leading, mentoring and training fresh graduated developers with varying 		levels of skills.
		
	</p>
</div>