
.header{
	color:#EFC94C;
	border-bottom: solid;
	border-color: white;
	border-width: 2px;
	padding-bottom: 2px;

}
p{   
	color:rgb(148, 177, 224);

	margin-bottom: 30px;
    margin-right: 70px;
    font-size: 21px;
    font-weight: 200;
    line-height: 1.5;
    text-align: justify;}

.colored{
	color:white;
	font-size: 15px;
}
.sub_header{
	text-align: center;
	color:white;
	font-size: 25px;
}
.special_p{
	background-color:  rgb(148, 177, 224);
	color: rgb(25, 41, 66);
	padding: 8px 8px 8px 10px;
	border-radius: 20px;
	font-style: italic;
}